$fg-light: #ccc;
$fg-dark: #333;

$bg-created: #d9edf7;
$bg-inProgress: #fcf8e3;
$bg-resolved: #dff0d8;

/* State Colors */
.created { background: $bg-created; }
.inProgress { background: $bg-inProgress; }
.resolved { background: $bg-resolved; }

.patientInfo {

  padding: 20px;
  border-bottom: 1px solid $fg-dark;

  h1, h2, h3 {
    display: inline-block;
    margin-right: 10px;
  }

  div span {
    font-size: 20px;
  }

}

.statuses {

  .status {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .row {

    border-bottom: 1px solid $fg-dark;

    .icon {
      margin-right: 10px;
      height: 35px;
      vertical-align: sub;
      opacity: 0.6;
    }

    .col-lg-6 {
      border-right: 1px solid $fg-dark;
    }

    h1 {
      display: inline-block;
    }

  }

  ul {

    margin: 0;
    padding: 0;
    list-style: none;

    li {

      margin-bottom: 10px;

      span {
        padding: 2px 5px;
        border: 1px solid $fg-light;
        border-radius: 4px;
      }

    }

  }

}

.watermark {
  position: fixed;
  right: 20px;
  bottom: 0;
  opacity: 0.5;
}
