/* State Colors */
.created {
  background: #E6F4F9; }

.inProgress {
  background: #FFFFCC; }

.resolved {
  background: #dff0d8; }

.patientInfo {
  padding: 10px;
  border-bottom: 1px solid #333; }
  .patientInfo div span {
    font-size: 20px; }
  .patientInfo h1, .patientInfo h2, .patientInfo h3 {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0; }
  .patientInfo h2 span {
    font-size: 30px;
    font-weight: bolder;
    color: #333; }
  .patientInfo img {
    width: 80px;
    height: 80px; }

.statuses .status {
  font-size: 25px;
  margin-bottom: 10px; }
.statuses .row .icon {
  margin-right: 10px;
  height: 35px;
  vertical-align: sub;
  opacity: 0.6; }
.statuses .row .task {
  border-bottom: 1px solid #ccc; }
  .statuses .row .task.col-lg-6 {
    border-right: 1px solid #333; }
.statuses .row h1, .statuses .row h3 {
  display: inline-block;
  margin-top: 10px; }
.statuses .row h3 {
  font-size: 20px;
  font-weight: normal;
  margin-left: 5px; }
.statuses ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .statuses ul li {
    margin-bottom: 10px; }
    .statuses ul li span {
      padding: 2px 5px;
      border: 1px solid #ccc;
      border-radius: 4px; }

.watermark {
  position: fixed;
  right: 20px;
  bottom: 0;
  opacity: 0.5;
  width: 100px; }
